<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="img/favicon.ico">
    <script src="js/axios-0.18.0.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <div class="header">Login</div>
        <div class="form-wrapper" id="app">
            <input type="text" id="username" name="username" placeholder="username" class="input-item"
                   v-model="user.username">
            <span id="tip" style="font-size: 13px;color: red" v-show="exist">用户名已存在</span>
            <input type="password" name="password" placeholder="password" class="input-item" v-model="user.password">
            <span>Remember me</span>
            <input type="checkbox" name="checkbox" value="1" class="checkbox">
            <button type="submit" class="btn" @click="submit"> Sign in</button>
        </div>
        <div class="msg">
            Don't have account?
            <a href="register.html">Sign up</a>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            exist: false,
            user: {
                username: "",
                password: ""
            }
        },
        methods: {
            submit() {
                axios({
                    method: "post",
                    url: "/users",
                    data: this.user
                }).then(res => {
                    console.log(res.data)
                    if(res.data.flag){
                        location.href="pages/Xiaomi.html"
                    }
                })
            }
        }
    })
</script>


</body>
</html>